<div class="main-div">
  <div class="innerdiv-1">
    <img src="./assets/img/HANDMADE.png" class="img-responsive logo">
  </div>
  <div class="innerdiv-2">
    <ul class="list-unstyled options">
      <li><a href="page1">Home</a></li>
      <li><a href="page2">Te Form</a></li>
      <li><a href="#">Nai Form</a></li>
      <li><a href="#">Dictionary Form</a></li>
      <li><a href="#">Adjuctives</a></li>
      <li><a href="#">Listening</a></li>
      <li><a href="#">Potential Form</a></li>          
    </ul>
  </div>
</div>
